*.out
#test.cc#
algorithm/misc_cpp_problems/a.exe.stackdump
algorithm/misc_cpp_problems/core
algorithm/misc_cpp_problems/out
algorithm/misc_cpp_problems/2
algorithm/misc_cpp_problems/a.exe
simpleCppProjectTemplate/main.o
simpleCppProjectTemplate/makefile.dep
simpleCppProjectTemplate/main
simpleCppProjectTemplate/main.dep
